/* Configuração geral */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
}

body {
    background-color: #f4f4f4; /* Fundo claro e clean */
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

/* Estilo para seções principais */
.container {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Estilo para eventos */
.lista-eventos, .lista-participantes {
    list-style: none;
    padding: 0;
}

.item-evento, .item-participante {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding: 15px;
}

    .item-evento h4, .item-participante h5 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .item-evento .data-inicio, .item-participante .email {
        color: #6c757d;
        font-style: italic;
    }

/* Botões */
.btn-primary, .btn-detalhes {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover, .btn-detalhes:hover {
        background-color: #0056b3;
    }

/* Estilo para a tela de detalhes do evento */
.detalhes-evento {
    padding: 20px;
}

    .detalhes-evento h2 {
        font-weight: bold;
        margin-bottom: 20px;
    }

    .detalhes-evento .info-evento {
        margin-bottom: 15px;
    }

/* Certificado */
.tela-certificado {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.certificado {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    border: 5px solid #007bff;
}

    .certificado h2 {
        font-weight: bold;
        margin-bottom: 10px;
    }

    .certificado p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 15px;
    }

.btn-imprimir {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-imprimir:hover {
        background-color: #218838;
    }
